<div class="container">
    <div class="row stats-wrapper">
        <div class="col s6">
            <div class="text center-align">
                Tasks Done
            </div>
            <div class="number center-align">
                50
            </div>
        </div>
        <div class="col s6">
            <div class="text center-align">
                Tasks left
            </div>
            <div class="number center-align">
                50
            </div>
        </div>
    </div>
    <div class="row wrapper z-depth-2">
        <div class="col s12 task">
            <p [ngClass]="{ 'done': isDone1}" (click)="toggle()">
                <input type="checkbox" id="filled-in-box-1" checked="checked" />
                <label for="filled-in-box-1" (click)="toggle()"><span>Filled in Filled inFilled inFilled inFilled inFilled inFilledinFilled inFilled inFilled inFilled inFilledinFilled inFilled inFilled inFilled inFilledinFilled inFilled inFilled inFilled inFilled in </span></label>
            </p>
        </div>
    </div>
    <div class="form-wrapper z-depth-2">
        <form action="">
            <div class="row">
                <div class="input-field col">
                    <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                </div>
                <div class="submit col">
                    <a class="waves-effect waves-light btn right"><i class="material-icons right">send</i>Add</a>
                </div>
            </div>
        </form>
    </div>
</div>